<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/63347356-a550-448e-b805-2ab7aacdbe03/resourcegroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/FirstAzureWebApp20230222161300</ContainerResourceId>
    <ContainerResourceName>FirstAzureWebApp20230222161300</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>firstazurewebapp20230222161300.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>firstazurewebapp</ContainerName>
    <EnvironmentName>FirstAzureWebApp-env-20230222154911</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://firstazurewebapp-app-20230222154.graywater-c1b31663.westus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/63347356-a550-448e-b805-2ab7aacdbe03/resourceGroups/myResourceGroup/providers/Microsoft.App/containerApps/firstazurewebapp-app-20230222154</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>