@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Simple ASP.Net Core App</h1>
    <h2>Here is the current server time: </h2>
    <h3>@DateTime.Now</h3>
</div>
